<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--incomplete--->
    <meta name="description" content="#">
    <!--incomplete--->
    <meta name="keywords" content="#">


    <meta property="og:title" content="Family Chat">
    <!--incomplete--->
    <meta property="og:description" content="#">
    <!--incomplete--->
    <meta property="og:image" content="#">
    <!--incomplete--->
    <meta property="og:url" content="#">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Family Chat</title>
</head>



<body>
    <%- include('partials/nav'); %>
    <main>
        <div class="family">
            <div class="family-info">
                <div class="family-pfp">
                    <img src="/img/Picture0368.JPG" alt="Family on docks">
                </div>
                <h1>Doe Family
                    <button onclick="saveImage()"><i class="fas fa-file-download"></i></button></h1>

                <div class="members">
                    <div class="family-pfp">
                        <img src="/img/Picture0700.JPG" alt="jack">
                    </div>
                    <div class="family-pfp">
                        <img src="/img/Picture0361.JPG" alt="henry">
                    </div>
                    <div class="family-pfp">
                        <img src="/img/Picture1139.JPG" alt="megan">
                    </div>
                    <div class="family-pfp">
                        <img src="/img/Picture0333.JPG" alt="nay">
                    </div>
                    <div class="family-pfp">
                        <img src="/img/Picture0331.JPG" alt="renee">
                    </div>
                </div>
            </div>
            <section>
                <h3>2020</h3>
                <div class="line"></div>
                <div class="node collapse" id="20200303-00" onclick="xpand(this.id)">
                    <a>March 03, 2020</a>
                    <a>Event title</a>
                    <!--                    <img src="#" alt="#">-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                    <!-- xpand function will take the id,
                        search the front-end database and retreive all info
                        then inject code into this section -->
                </div>
                <div class="node expanded hidden" id="20200303-00" onclick="xpand(this.id)">
                    <!-- this is an example of what the node will look like -->
                    <i class="fas fa-times"></i>
                    <a>March 03, 2020</a>
                    <a>Event title</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Est ultricies integer quis auctor elit sed vulputate mi sit.
                        Fames ac turpis egestas integer. Cursus in hac habitasse platea dictumst quisque sagittis purus
                        sit. Tincidunt ornare massa eget egestas purus. A pellentesque sit amet porttitor eget dolor
                        morbi non. Eu mi bibendum neque egestas congue quisque egestas diam. Malesuada nunc vel risus
                        commodo viverra maecenas accumsan lacus. Id interdum velit laoreet id. Mattis molestie a iaculis
                        at erat pellentesque. Mi bibendum neque egestas congue quisque egestas. Nibh tellus molestie
                        nunc non blandit massa enim nec. Dictum sit amet justo donec enim diam vulputate ut pharetra.
                        Nunc consequat interdum varius sit amet mattis vulputate.
                    </p>
                    <div class="imgs">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                    </div>
                    <h2>
                        Tincidunt ornare massa eget egestas purus.
                    </h2>
                    <p>
                        Nisi vitae suscipit tellus mauris a diam. Risus pretium quam vulputate dignissim suspendisse in
                        est ante. Vel risus commodo viverra maecenas accumsan. Neque ornare aenean euismod elementum
                        nisi quis eleifend quam adipiscing. Diam ut venenatis tellus in metus. Eleifend quam adipiscing
                        vitae proin sagittis nisl rhoncus. Nulla pellentesque dignissim enim sit amet venenatis urna
                        cursus eget. Egestas sed sed risus pretium quam. Aliquet nec ullamcorper sit amet risus nullam
                        eget felis eget. Faucibus a pellentesque sit amet porttitor. Non nisi est sit amet facilisis
                        magna etiam. Risus pretium quam vulputate dignissim suspendisse. Molestie ac feugiat sed lectus
                        vestibulum. Sagittis eu volutpat odio facilisis mauris sit. Augue eget arcu dictum varius duis
                        at consectetur lorem donec. Ac auctor augue mauris augue neque gravida in.
                    </p>
                    <div class="imgs">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                        <img src="#" alt="#">
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="/js/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>