<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--incomplete--->
	<meta name="description" content="#">
	<!--incomplete--->
	<meta name="keywords" content="#">


	<meta property="og:title" content="Family Chat">
	<!--incomplete--->
	<meta property="og:description" content="#">
	<!--incomplete--->
	<meta property="og:image" content="#">
	<!--incomplete--->
	<meta property="og:url" content="#">
	<meta property="og:type" content="website">

	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
		integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<title>Family Chat</title>
</head>

<body>
	<%- include('partials/nav'); %>
	<main>
		<div class="feed-main">
			<div class="create-post">

				<div class="create-post-header">Create Post</div>

				<form id="user-form" method="post" action="/create-post" enctype="multipart/form-data">
					<textarea name="userpost-txt" form="user-form" class="create-post-txt" placeholder="What would you like to post?"></textarea>
					<input type="file" id="file" name="file">
					<button type="submit" class="create-post-btn">Post</button>
				</form>

			</div>

			<div class="post">
				<div class="post-top">
					<div class="post-pfp">
						<img src="/img/Profile%20Picture.png">
					</div>

					<div class="post-creation">
						<div class="post-name">John Doe</div>
						<div class="post-date">March 2nd, 2020</div>
					</div>
				</div>

				<div class="post-body">
					<img src="/img/Profile%20Picture.png">
				</div>

				<div class="post-ratings">

					<div class="rate-div">
						<button><i class="far fa-thumbs-up"></i></button>
						<h1>32</h1>
					</div>

					<div class="rate-div">
						<button><i class="far fa-thumbs-down"></i></button>
						<h1>4</h1>
					</div>
					<div class="rate-div">
						<!-- If post is an image, render button -->
						<button onclick="saveImage()"><i class="fas fa-file-download"></i></button>
					</div>
					<div class="rate-div">
						<button><i class="fas fa-share"></i></button>
					</div>

				</div>

				<div class="comment-div">
					<label>
						<textarea class="post-comment" placeholder="Add a comment..."></textarea>
					</label>

					<input type="file" accept="image/png, image/jpeg">
					<button class="post-send-btn">Comment</button>
				</div>

			</div>

	</main>
    <script src="/js/index.js"></script>
</body>

</html>