<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--incomplete---><meta name="description" content="#">
    <!--incomplete---><meta name="keywords" content="#">


    <meta property="og:title" content="Family Chat">
    <!--incomplete---><meta property="og:description" content="#">
    <!--incomplete---><meta property="og:image" content="#">
    <!--incomplete---><meta property="og:url" content="#">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Family Chat</title>
</head>



<body>
    <%- include('partials/nav'); %>
    <div class="social">
        <div class="social-search-container">
            <div class="social-search">
                <label for="social-search-input"></label>
                <input id="social-search-input" placeholder="Search for contacts..." spellcheck="false" type="text" name="social-search-input">
                <div class="social-search-button">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="social-contacts-container">
            <div class="contact-list">
                <div class="contact-container selected-contact">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="messages-chat-box">
            <div class="chat-box-container">
                <div class="chat-box-header">
                    <h3><%= chatBuddy%></h3>
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>

                <div class="chat-box-messages">
                    <div id="messages-container" class="messages-container">
                        <ul>
                            <% for(var msgs of chatArray) { %>
                                <li><%= msgs.sender%>:<%= msgs.message%></li>
                            <% } %>
                        </ul>
                    </div>
                </div>

                <div class="chat-box-text">
                    <div class="chat-box-icons">
                        <div class="icons-left">
                            <a href="#"><i class="fas fa-smile-wink"></i></a>
                            <a href="#"><i class="fas fa-images"></i></a>
                        </div>
                        <div class="icons-right">
                            <a href="#"><i class="fas fa-phone"></i></a>
                            <a href="#"><i class="fas fa-video"></i></a>
                        </div>
                    </div>
                    <div class="message-input-container">
                        <label for="message-input"></label>
                        <textarea id="message-input" placeholder="Send a message, be nice!" name="message-input" form="send-message"></textarea>
                    </div>
                    <div class="message-send-button">
                        <form id="send-message">
                            <input type="submit" value="Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-3.4.1.min.js"></script>

    <script>
        $(document).ready(function (){
            let socket = io.connect('http://localhost:7000');

            let $messageForm = $('#send-message');
            let $messageBox = $('#message-input');
            let $chat = $('#messages-container');


            $messageForm.onsubmit(function (e) {
                e.preventDefault();

                socket.emit('send message', $messageBox.value());
                $messageBox.value('');
            });


            socket.on('new message', function (data) {
                $chat.append(data + "<br/>");
            });

        });
    </script>
</body>
</html>
