<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--incomplete---><meta name="description" content="#">
    <!--incomplete---><meta name="keywords" content="#">


    <meta property="og:title" content="Family Chat">
    <!--incomplete---><meta property="og:description" content="#">
    <!--incomplete---><meta property="og:image" content="#">
    <!--incomplete---><meta property="og:url" content="#">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Family Chat</title>
</head>



<body>
    <%- include('partials/nav'); %>
    <div class="social">
        <div class="social-search-container">
            <div class="social-search">
                <label for="social-search-input"></label>
                <input id="social-search-input" placeholder="Search for contacts..." spellcheck="false" type="text" name="social-search-input">
                <div class="social-search-button">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="social-contacts-container">
            <div class="contact-list">
                <div class="contact-container selected-contact">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="contact">
                        <div class="contact-left">
                            <div class="contact-pfp">
                                <img src="/img/Profile%20Picture.png" alt="pfp">
                            </div>
                            <div class="contact-name">
                                <h5>John Doe</h5>
                                <a>What time are you going to gym?</a>
                            </div>
                        </div>
                        <div class="contact-right">
                            <a>2:31PM</a>
                            <i class="fas fa-microphone-slash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="messages-chat-box">
            <div class="chat-box-container">
                <div class="chat-box-header">
                    <h3>John Doe</h3>
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="chat-box-messages">
                    <div class="messages-container">
                        <div class="message-left-wrapper">
                            <div class="message-left">
                                <div class="message-pfp">
                                    <img src="/img/Profile%20Picture.png" alt="pfp">
                                </div>
                                <div class="message-info">
                                    <a class="message-from">John Doe</a>
                                    <div class="message-message">
                                        <span>Hello, I'm John!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message-right-wrapper">
                            <div class="message-right">
                                <div class="message-info">
                                    <a class="message-from">John Doe</a>
                                    <div class="message-message">
                                        <span>Hello, I'm also John!</span>
                                    </div>
                                </div>
                                <div class="message-pfp">
                                    <img src="/img/Profile%20Picture.png" alt="pfp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-box-text">
                    <div class="chat-box-icons">
                        <div class="icons-left">
                            <a href="#"><i class="fas fa-smile-wink"></i></a>
                            <a href="#"><i class="fas fa-images"></i></a>
                        </div>
                        <div class="icons-right">
                            <a href="#"><i class="fas fa-phone"></i></a>
                            <a href="#"><i class="fas fa-video"></i></a>
                        </div>
                    </div>
                    <div class="message-input-container">
                        <label for="message-input"></label>
                        <textarea id="message-input" placeholder="Send a message, be nice!" name="message-input"></textarea>
                    </div>
                    <div class="message-send-button">
                        <a href="#"><i class="fas fa-paper-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>
